<p class="site-nav">
 <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">/</a> -
 <a href="{{ '/filesh/' | prepend: site.baseurl | prepend: site.url }}">/filesh</a> -
 <a href="{{ '/usersh/' | prepend: site.baseurl | prepend: site.url }}">/usersh</a> -
 <a href="{{ '/shtorage/' | prepend: site.baseurl | prepend: site.url }}">/shtorage</a> -
 <a href="{{ '/shystem/' | prepend: site.baseurl | prepend: site.url }}">/shystem</a> -
 <a href="{{ '/varioush/' | prepend: site.baseurl | prepend: site.url }}">/varioush</a> -
 <a href="{{ '/links/' | prepend: site.baseurl | prepend: site.url }}">/links</a> -
 <a href="{{ '/_pages/about' | absolute_url }}">/about</a>
</p>
